/*ヘッダーフッター*/
body {
  font-size: 12pt;
  color:#373737;
  margin: 0px;
  height: 100%;
}
.logo {
  display: block;
  float: left;
  max-width: 100px;
  height: 65px;
}

.header {
  margin: 20px;
  border-bottom: 2px solid #02cda2;
  text-align: right;
  overflow: visible;
}



nav ul li {
  display: inline-block;
  margin-right: 5px;
  padding-top: 5px;
}
.footer {
  margin: 40px;
  border-top: 2px solid #02cda2;
}
.copyright {
  font-size: 9px;
  color:#02cda2;
  text-align: left;
}
.contact {
  color:#02cda2;
  text-align: right;
}
.btn-square-1 {
  float: right;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #fff;
  border: 1px solid #02cda2;
  color: #02cda2;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-1:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.btn-square-2 {
  float: right;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #02cda2;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square-2:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.icon {
  float:right;
}
/*囲みデザイン*/
.panel-heading {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #627295;/*文字色*/
    background: #FFF;
    border: solid 3px #02cda2;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.panel-heading p {
    margin: 0;
    padding: 0;
}

/*問い合わせフォーム*/
section table { width: 100%; }
section th, section td  { padding: 10px; border: 1px solid #ddd; }
section th  { background: #f4f4f4; }

/*----------------------------------------------------
  .demo01
----------------------------------------------------*/
.demo01 th  { width: 30%; text-align: left; }

@media only screen and (max-width:480px){
    .demo01 { margin: 0 -10px; }
    .demo01 th,
    .demo01 td{
    width: 100%;
    display: block;
    border-top: none;
    }
  .demo01 tr:first-child th { border-top: 1px solid #ddd; }
}
/*----------------------------------------------------
  背景画像スライドショー　jQuery
----------------------------------------------------*/

.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
